<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>DNA RNA Sekans Hizalama, Motif Bulma</title>

 
</head>

<style>
body {
  background-image: url("https://i.ibb.co/JzXzrhP/bg1.png");
}

div {
  width: 300px;
  border: 5px solid gray;
  padding: 100px;
  margin: 20px;
}
</style>

<center>
<body>
 
    <div class="container">

            
			<b>DNA RNA Sekans Hizalama, Motif Bulma</b><br><br><br>
			<b>Lütfen işlem yapmak istediginiz text dosyalarını yükleyiniz.</b><br><br>
            <i>Lütfen işlem yapmak istediginiz text dosyalarındaki sekansların her satırda bir <br>
                adet olmak üzere yazdığından, sekanslar harici bir karakter, boşluk, satır vb. bulunmadığından <br>
                emin olunuz.</i>

            <br><br><br>


			<form method="POST" action="" enctype="multipart/form-data">

				<b>Sekanslar:<b/>
				    <p><input type="file" name="file" accept=".txt"></p>

                <b>Motif uzunluğu:</b><br>
                    <input type="number" name="motifLength" min="1" max="99">

				<p><input type="submit" value="Gonder"></p>
			</form><br><br><br><br>
			
			


    </div>
    <footer class="footer">
        <h3 class="text-muted">DNA, RNA Sekans Hizalama, Motif Bulma</h3>
        <p>Halil Dogan 2020</p>
    </footer>

</body>


</center>
 
</html>